.box {
    height: 400px;
    width: 400px;
}

#onboard .title, #design .title, #projects .title {
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 1s;
}

#onboard .subtitle, #design .subtitle, #projects .subtitle {
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 2s;
}

#projects .slide .overlay-container {
    background: none;
    background-position: center;
}

#projects .slide .overlay-container.screen {
    background-size: contain;
    background-repeat: no-repeat;
}

#projects .project-detail {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
}

#projects .fp-slidesNav.fp-bottom {
    text-align: center;
}
